# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/devbunker-server/node_modules
/devbunker-client/node_modules

# testing
/devbunker-client/coverage

# production
/devbunker-client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/devbunker-client/npm-debug.log*
/devbunker-client/yarn-debug.log*
/devbunker-client/yarn-error.log*
/devbunker-client/yarn.lock*

/devbunker-server/npm-debug.log*
/devbunker-server/yarn-debug.log*
/devbunker-server/yarn-error.log*
/devbunker-server/yarn.lock*