@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(-30px);
    transform: translate(-30px);
  }
  25% {
    -webkit-transform: translate(15px);
    transform: translate(15px);
  }
  50% {
    -webkit-transform: translate(-10px);
    transform: translate(-10px);
  }
  75% {
    -webkit-transform: translate(5px);
    transform: translate(5px);
  }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(-30px);
    -ms-transform: translate(-30px);
    transform: translate(-30px);
  }
  25% {
    -webkit-transform: translate(15px);
    -ms-transform: translate(15px);
    transform: translate(15px);
  }
  50% {
    -webkit-transform: translate(-10px);
    -ms-transform: translate(-10px);
    transform: translate(-10px);
  }
  75% {
    -webkit-transform: translate(5px);
    -ms-transform: translate(5px);
    transform: translate(5px)
  }
  100% {
    -webkit-transform: translate(0px);
    -ms-transform: translate(0px);
    transform: translate(0px)
  }
}