.auth-contents {
    background: white;
    padding: 2rem;
    height: auto;

    .auth-title {
        font-size: 1.5rem;
        font-weight: 500;
        color: $oc-gray-8;
        margin-bottom: 1rem;
    }

    @import 'AuthInputWithLabel';
    @import 'AuthButton';
    @import 'AuthRightAlignedLink';
    @import 'AuthError';
}